@import url(./container-song-first.css);
@import url(./container-song-second.css);
@import url(./container-playlist-artist.css);
.contentMain {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  inset-block-start: 3.9rem;
  inset-block-end: 5.6rem;
  inset-inline-end: 0;
  inset-inline-start: 15rem;
  padding: 1.5rem 0 1.5rem 2.125rem;
  gap: 2rem;
  box-shadow: inset -1px 40px 131px -121px rgb(80, 8, 8);
}

.contentMain::-webkit-scrollbar {
  background: var(--gray40);
  inline-size: 0.8rem;
}

.contentMain::-webkit-scrollbar-thumb {
  background: var(--gray30);
}

.contentMain.artist {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  inset-block-start: 3.9rem;
  inset-block-end: 5.6rem;
  inset-inline-end: 0;
  inset-inline-start: 15rem;
  padding: 0;
  gap: 2rem;
  box-shadow: inset -1px 40px 131px -121px rgb(80, 8, 8);
  background-image: url(../img/bbab6768640000fe8927b740383f72c210daef025a.jpg);
  background-size: cover;
}

.boxShadow-mainArtist {
  position: absolute;
  inset-block-start:0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  box-shadow: inset -1px -250px 990px 50px var(--gray40);
}