.searchBar {
  block-size: 2.5rem;
  padding: 0.6875rem 1.5rem 0.6875rem 1.5rem;
  display: flex;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-inline-start: 15rem;
  align-items: center;
  gap: 1rem
}

.contentButtom {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.contentButtom span {
  font-weight: 400;
  display: block;
  margin: 0.3rem 0.6rem;
}

.buttomSearch {
  inline-size: 2rem;
  block-size: 2rem;
  background: var(--gray60);
  display: inline-block;
  border-radius: 50%;
  color: var(--white);
  user-select: none;
}

.buttomSearch:hover {
  background: var(--gray40);
}

.contentSearch {
  position: relative;

}

.contentSearch input {
  block-size: 1.5rem;
  inline-size: 22rem;
  border-radius: 1.25rem;
  border: none;
  user-select: none;
  padding: 0.5rem 2.5rem;
  position: absolute;
  inset-block-start: -1.2rem;
  outline: none;
  cursor: pointer;
}

.contentSearch i {
  font-size: 1.2rem;
  position: absolute;
  inset-block-start: -0.5rem;
  inset-inline-start: 0.5rem;
  z-index: 1;
  color: var(--gray60);
  cursor: pointer;
}