.volume{
    block-size: 1.5rem;
    inline-size: 8.875rem;
    border: 1 solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--gray10);
    gap: 0.5rem;
    cursor: pointer;
}

.volume i{
    font-size: 1.5rem;
}