.buttonAction{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        gap: 1rem;
}

.buttonIcon:active{
        transform: scale(0.9);
        color: var(--white);
}
